@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-200;
}

.router-link-exact-active {
  @apply bg-yellow-300 text-gray-800 hover:text-white;
}

.main-container {
  height: calc(100vh - 4.25rem);
}

.candidate-tbody:before {
  /* This doesn't work because of border-collapse */
  line-height: 2em;
  content: '.';
  color: white; /* bacground color */
  display: block;

  @apply text-slate-200;
}
